.logo {
  width: 30px;
  /* float: left; */
}
.brand {
  font-size: 0.9rem;
  text-transform: uppercase;
  display: inline-block;
  margin: 0px;
  cursor: pointer;
  margin-right: auto;
  font-weight: bold;
}
.bg {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 25px;
  /* color: #484848; */
  color: var(--color-text-backdrop);
  box-sizing: border-box;
  display: block;
  position: fixed;
  z-index: 9999;
  width: 100%;
  background: #494a48;
  text-transform: uppercase;
}
.navBox {
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
.navItem {
  display: inline-block;
  /* float: right; */
  margin-left: 8px;
}
.iconBox {
  display: flex;
  width: 34px;
  height: 34px;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  border: 1px solid #666;
  background-color: #555;
  cursor: pointer;
  transition: all 0.3s ease-out 0s;
  padding-bottom: 2px;
  margin-left: 8px;
}
.iconBoxMB {
  display: flex;
  width: 34px;
  height: 34px;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  /* border: 1px solid #666; */
  /* background-color: #555; */
  cursor: pointer;
  transition: all 0.3s ease-out 0s;
  padding-bottom: 2px;
}

.iconBoxNumber {
  display: flex;
  margin-left: 8px;
  height: 34px;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  border-radius: 35px;
  border: 1px solid #666;
  background-color: #555;
  cursor: pointer;
  transition: all 0.3s ease-out 0s;
  padding-bottom: 2px;
  padding-left: 11px;
  padding-right: 11px;
}
.iconBox:hover {
  background-color: #777;
}
.icon {
  height: 15px;
  margin-left: auto;
  margin-right: auto;
}

.iconCartBox {
  display: flex;
  height: 34px;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  border: 1px solid #666;
  background-color: #555;
  cursor: pointer;
  transition: all 0.3s ease-out 0s;
  padding-bottom: 2px;
  padding-left: 13px;
  padding-right: 13px;
  margin-left: 8px;
}

.header {
  position: relative;
  padding-bottom: 50px;
}
.number {
  margin-left: 7px;
  padding-top: 5px;
  min-width: 14px;
  text-align: end;
}
.brandMobile {
  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
  display: inline-block;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  cursor: pointer;
}
