.image {
  margin-top: 12px;
  margin-bottom: 12px;
  border-radius: 5px;
}
.name {
  font-size: 1rem;
  font-weight: bold;
}
.label {
  margin-top: 34px;
  font-size: 0.8rem;
}
.name::after {
  margin-top: 8px;
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  background: var(--text-primary);
}
.price {
  color: var(--text-highlight);
}
.status {
  text-transform: uppercase;
  color: var(--text-highlight);
}
.old {
  text-decoration: line-through;
  font-size: 1rem;
  display: inline;
  margin-left: 13px;
}
.btn {
  color: var(--color-text-backdrop);
  background-color: var(--text-primary);
  border-radius: 34px;
  border: 1px solid #eee;
  width: 100%;
  height: 34px;
  font-size: 0.8rem;
  outline: none;
}
.btnCircle {
  border-radius: 34px;
  background-color: var(--color-text-backdrop);
  border: 1px solid #777;
  width: 34px;
  height: 34px;
  padding-top: 3px;
  font-size: 0.6rem;
  outline: none !important;
}
.count {
  text-align: center;
  padding-right: 3px;
  padding-top: 3px;
  margin-left: 13px;
  margin-right: 13px;
}
.remove {
  padding: 8px 5px 5px 5px;
  margin-left: auto;
  font-size: 0.75rem;
}
.box {
  margin-bottom: 34px;
}

.boxBtn {
  display: flex;
  align-items: center;
}
.noftify {
  margin-left: 13px;
}
.link {
  text-decoration: underline;
  cursor: pointer;
}
