.box {
  display: inline-block;
  border: 1px solid #e4e5e6;
  padding: 3px;
  margin-right: 13px;
  margin-bottom: 21px;
  /* border-radius: 34px; */
  cursor: pointer;
  text-align: center;
  min-width: 36px;
}
.value {
  display: inline-block;
  margin: 5px;
  font-size: 0.8rem;
  line-height: 0.8rem;
}
.img {
  display: inline-block;
  margin-bottom: 1px;
  margin-right: 5px;
  height: 24px;
  border-radius: 15px;
}
