[submodule "clients/T001/ui"]
	path = clients/T001/ui
	url = git@github.com:itoa-vn/ui.git
[submodule "clients/T002/ui"]
	path = clients/T002/ui
	url = git@github.com:itoa-vn/ui.git
[submodule "clients/T003/ui"]
	path = clients/T003/ui
	url = git@github.com:itoa-vn/ui.git
[submodule "clients/T004/ui"]
	path = clients/T004/ui
	url = git@github.com:itoa-vn/ui.git
[submodule "clients/T007/ui"]
	path = clients/T007/ui
	url = git@github.com:itoa-vn/ui.git
[submodule "clients/T009/ui"]
	path = clients/T009/ui
	url = git@github.com:itoa-vn/ui.git
[submodule "clients/T005/ui"]
	path = clients/T005/ui
	url = git@github.com:itoa-vn/ui.git
[submodule "clients/T008/ui"]
	path = clients/T008/ui
	url = git@github.com:itoa-vn/ui.git
