.box {
  position: fixed;
  top: 0px;
  left: 0px;
  min-width: 80vw;
  max-width: 300px;
  background: var(--background-dark);
  height: 100vh;
  margin-top: 49px;
  transition: all 0.3s ease;
  z-index: 999;
  padding: 21px;
  color: var(--text-primary-dark);
  overflow: scroll;
}
.container {
  padding: auto;
  color: var(--text-primary-dark);
}
